.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.font-italic {
  font-style: italic !important;
}

.font-size-sm {
  font-size: 0.875rem !important;
}

.font-size-lg {
  font-size: 1.25rem !important;
}

